build: false

environment:
    PYTHON: "C:\\Python37"

    matrix:
        - MINGW_CONFIGURATIONS: "7@x86_64@seh@posix, 8@x86_64@seh@posix"

install:
  - set PATH=%PATH%;%PYTHON%/Scripts/
  - pip.exe install conan --upgrade
  - pip.exe install conan_package_tools
  - conan user # It creates the conan data directory

test_script:
  - python build.py
